@import '~hypermd/theme/hypermd-light.scss';

.cm-s-m  {
    @extend .cm-s-hypermd-light;
    font-family: monospace;
}
// .code-mirror-editor {
//     height: 100%;
// }

// html,
// body,
// #contents,
// .code-mirror-editor{height:100%;}

.CodeMirror {
  // border: 1px solid #eee;
  height: auto;
}
